<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.gprs.myapplication">
    <!-- Include required permissions for Google Mobile Ads to run. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <dist:module dist:instant="true" />

    <uses-feature
        android:name="android.hardware.fingerprint"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/collective_intelligence_icon_use"
        android:label="@string/app_name"
        android:roundIcon="@drawable/collective_intelligence_icon_use"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="@xml/backup_descriptor">
        <activity android:name=".Scanner" />
        <activity
            android:name=".QRcode"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name=".bio" />
        <activity android:name=".publichealthcare" />
        <activity android:name=".unorganizedsectors" />
        <activity android:name=".course" />
        <activity android:name=".logouthome" />
        <activity android:name=".MSME" />
        <activity android:name=".labsfortest" />
        <activity android:name=".pdfViewer" />
        <activity android:name=".Chatbot" /> <!-- Include the AdActivity configChanges and theme. -->
        <activity android:name=".help" />
        <activity android:name=".firstreply" />
        <activity android:name=".firstaidguidance" />
        <activity android:name=".Medicalshops" />
        <activity android:name=".firstresponder" />
        <activity android:name=".work" />
        <activity android:name=".workAssign" />
        <activity android:name=".your_work" />
        <activity android:name=".assign_work">
            <intent-filter>
                <action android:name="android.intent.action.SENDTO" />

                <data android:scheme="mailto" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver android:name="androidx.media.session.MediaButtonReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <activity android:name=".alarmremember" />
        <activity android:name=".Alarm" />
        <activity android:name=".notification" />
        <activity android:name=".test" />
        <activity
            android:name=".quora"
            android:label="@string/title_activity_quora"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity android:name=".advice" />
        <activity android:name=".youtubevedio" />
        <activity android:name=".stepstofollow" />
        <activity android:name=".epass" />
        <activity android:name=".Medstore" />
        <activity android:name=".intro" />
        <activity android:name=".internetalert" />

        <service
            android:name=".VictimAlertForegroundNotification"
            android:enabled="true"
            android:exported="true"
            android:process=":geoFencing"
            android:permission="TODO" />

        <activity android:name=".Detailed" />
        <activity android:name=".news" />
        <activity android:name=".foundvictim" />
        <activity android:name=".victimalert" />
        <activity android:name=".mystatus" />
        <activity android:name=".helpline" />
        <activity android:name=".donate" />
        <activity android:name=".forgotpassword" />
        <activity android:name=".visualize" />
        <activity android:name=".cases_report" />

        <receiver
            android:name=".Restarter"
            android:exported="true">
            <intent-filter>
                <action android:name="VictimAlert" />
                <action android:name="Alarm" />
                <action android:name="Help" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".HelpneededBroadcastReceiver" />
        <receiver
            android:name=".InternetBroadcastReciever"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.INPUT_METHOD_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".YourLocationBroadcastReciever" />

        <service
            android:name=".AlarmForegroundNotification"
            android:enabled="true"
            android:exported="true"
            android:process=":Alarm"
            android:permission="TODO" />

        <receiver android:name=".MyNotificationBroadcastReceiver" />

        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true"
            android:permission="TODO" />

        <activity android:name=".website" />

        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity android:name=".self_assess" />
        <activity android:name=".profile" />
        <activity android:name=".home" />
        <activity android:name=".register" />
        <activity android:name=".login" />
        <activity android:name=".Splash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>